.env
.env.*
.git/
.github/
.idea/
.ruff_cache/
.pytest_cache/
.venv/
__pycache__/
*.pyc
.coverage
*.dump
*.pptx
*.png
!frontend/bwlogo.png
backups/
bp/
docs/
tests/
scripts/
postgres_data/
frontend/*
!frontend/bwlogo.png
